
.order-detail {
    min-height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    padding: 2rem 4rem;
    position: relative;

    .order-detail-title {
        margin-bottom: 3rem;
        font-size: 2rem;
        font-weight: bold;
        color: rgb(3, 3, 3);
    }

    .order-detail-content-container {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 1rem auto;
        padding: 1rem 2rem;
        border: 1px solid rgb(3, 3, 3);
        border-radius: 10px;

        .order-detail-item-wrapper {
            display: grid;
            grid-template-columns: 3fr 2fr;
            padding: 0.25rem 0.5rem;
            margin-bottom: 0.5rem;

            &:not(:last-child) {
                border-bottom: 1px solid rgb(209, 211, 212);
            }

            .order-detail-item-label {
                font-weight: bold;
            }

            .order-detail-item {
                font-size: 1.2rem;
                color: rgb(3, 3, 3);
            }

            .detail-item-link {
                color: rgb(1, 57, 131);
                font-weight: bold;
                transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

                &:hover {
                    color: rgb(48, 134, 209);
                    transform: scale(1.04);
                }
                
            }
        }
    }

    .order-detail-actions-container {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        display: flex;

        .order-detail-btn {
            margin: 0 1.5rem;
            font-size: 1.2rem;
            transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    
            &:hover {
                transform: scale(1.04);
            }
        }

        .order-detail-back-button {
            color: rgb(28, 66, 116);

            &:hover {
                color: rgb(43, 65, 39);
            }
        }

        .order-detail-edit-button {
            color: rgb(1, 131, 14);

            &:hover {
                color: rgb(3, 204, 66);
            }
        }
    }

    
}