
.user-detail {
    min-height: calc(100vh - 55px);
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    position: relative;

    .user-detail-header {
        display: flex;
        justify-content: space-around;
        margin-bottom: 2rem;

        .user-detail-header-item{
            width: 40%;
            border-bottom: 1px solid #ccc;            
        }

        .user-detail-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
            text-decoration: underline;
        }

        .user-detail-subtitle {
            font-size: 1.1rem;
            color: rgb(3, 3, 3);
            margin-left: 1rem;
        }

        .user-detail-span {
            font-weight: bold;
            color: rgb(29, 35, 42);
            margin-left: 1rem;
        }
    }

    .user-detail-chart-container {
        margin: 0 auto;
        margin-top: 2rem;
    }

    .user-detail-back-link {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        color: rgb(29, 35, 42);
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
            color: rgb(3, 3, 3);
            transform: scale(1.1);
        }
    }
}