@import 'bootstrap';

@import './styles/main-navigation.scss';
@import './styles/home.scss';
@import './styles/new-order.scss';
@import './styles/order-chart.scss';
@import './styles/order-detail.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
